In [73]:
import pandas as pd
import numpy as np

In [74]:
df = pd.read_csv('./Sets/tech_giants.csv')

In [75]:
df['date'] = pd.to_datetime(df['date'],format = '%Y-%m-%d')

# Multilevel Index

In [76]:
df.head()

,date,month,year,day,name,open,close,high,low,volume,volume_type
0,2014-01-02,1,2014,2,FB,54.86,54.71,55.22,54.19,43257622,medium
1,2014-01-02,1,2014,2,AAPL,79.38,79.02,79.58,78.86,8398851,low
2,2014-01-02,1,2014,2,GOOGL,557.73,556.56,558.88,554.13,1822719,medium
3,2014-01-02,1,2014,2,MSFT,37.35,37.16,37.40,37.10,30643745,medium
4,2014-01-02,1,2014,2,AMZN,398.80,397.97,399.36,394.02,2140246,medium

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105 entries, 0 to 7104
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         7105 non-null   datetime64[ns]
 1   month        7105 non-null   int64
 2   year         7105 non-null   int64
 3   day          7105 non-null   int64
 4   name         7105 non-null   object
 5   open         7105 non-null   float64
 6   close        7105 non-null   float64
 7   high         7105 non-null   float64
 8   low          7105 non-null   float64
 9   volume       7105 non-null   int64
 10  volume_type  7105 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(4), object(2)
memory usage: 610.7+ KB

## RangeIndex, DatetimeIndex, Index

### RangeIndex

Objetos inmutables secuenciales de pasos constantes incrementales o decrementales. Son un tipo de Index.

In [78]:
df.index

RangeIndex(start=0, stop=7105, step=1)

In [79]:
pd.RangeIndex(start = 50, stop = 55, step = 2)

RangeIndex(start=50, stop=55, step=2)

### DatetimeIndex

Objetos inmutables secuenciales de pasos constantes incrementales o decrementales. Son un tipo de Index.

In [80]:
df.set_index('date').head(3)

,month,year,day,name,open,close,high,low,volume,volume_type
date,,,,,,,,,,
2014-01-02,1,2014,2,FB,54.86,54.71,55.22,54.19,43257622,medium
2014-01-02,1,2014,2,AAPL,79.38,79.02,79.58,78.86,8398851,low
2014-01-02,1,2014,2,GOOGL,557.73,556.56,558.88,554.13,1822719,medium

In [81]:
df.set_index('date').head(3).index

DatetimeIndex(['2014-01-02', '2014-01-02', '2014-01-02'], dtype='datetime64[ns]', name='date', freq=None)

### Index

Otro objeto inmutable y sliceable. No necesariamente sencuencial y constante.

In [82]:
type(df.columns)

pandas.core.indexes.base.Index

In [83]:
type(df.index)

pandas.core.indexes.range.RangeIndex

In [84]:
df.set_index('date')

,month,year,day,name,open,close,high,low,volume,volume_type
date,,,,,,,,,,
2014-01-02,1,2014,2,FB,54.86,54.71,55.22,54.19,43257622,medium
2014-01-02,1,2014,2,AAPL,79.38,79.02,79.58,78.86,8398851,low
2014-01-02,1,2014,2,GOOGL,557.73,556.56,558.88,554.13,1822719,medium
2014-01-02,1,2014,2,MSFT,37.35,37.16,37.40,37.10,30643745,medium
2014-01-02,1,2014,2,AMZN,398.80,397.97,399.36,394.02,2140246,medium
...,...,...,...,...,...,...,...,...,...,...
2019-08-23,8,2019,23,MSFT,137.19,133.39,138.35,132.80,38515386,medium
2019-08-23,8,2019,23,AAPL,209.43,202.64,212.05,201.00,46882843,medium
2019-08-23,8,2019,23,GOOGL,1185.17,1153.58,1195.67,1150.00,1813141,medium
2019-08-23,8,2019,23,AMZN,1793.03,1749.62,1804.90,1745.23,5277898,medium
2019-08-23,8,2019,23,FB,180.84,177.75,183.13,176.66,17331221,medium

### Set un multiple index

In [85]:
df.set_index(['date','name'])

                  month  year  day     open    close     high      low  \
date       name
2014-01-02 FB         1  2014    2    54.86    54.71    55.22    54.19
           AAPL       1  2014    2    79.38    79.02    79.58    78.86
           GOOGL      1  2014    2   557.73   556.56   558.88   554.13
           MSFT       1  2014    2    37.35    37.16    37.40    37.10
           AMZN       1  2014    2   398.80   397.97   399.36   394.02
...                 ...   ...  ...      ...      ...      ...      ...
2019-08-23 MSFT       8  2019   23   137.19   133.39   138.35   132.80
           AAPL       8  2019   23   209.43   202.64   212.05   201.00
           GOOGL      8  2019   23  1185.17  1153.58  1195.67  1150.00
           AMZN       8  2019   23  1793.03  1749.62  1804.90  1745.23
           FB         8  2019   23   180.84   177.75   183.13   176.66

                    volume volume_type
date       name
2014-01-02 FB     43257622      medium
           AAPL    8398851         low
           GOOGL   1822719      medium
           MSFT   30643745      medium
           AMZN    2140246      medium
...                    ...         ...
2019-08-23 MSFT   38515386      medium
           AAPL   46882843      medium
           GOOGL   1813141      medium
           AMZN    5277898      medium
           FB     17331221      medium

[7105 rows x 9 columns]

In [86]:
dfm = df.set_index(['date','name'])

In [87]:
dfm.index

MultiIndex([('2014-01-02',    'FB'),
            ('2014-01-02',  'AAPL'),
            ('2014-01-02', 'GOOGL'),
            ('2014-01-02',  'MSFT'),
            ('2014-01-02',  'AMZN'),
            ('2014-01-03',    'FB'),
            ('2014-01-03', 'GOOGL'),
            ('2014-01-03',  'MSFT'),
            ('2014-01-03',  'AAPL'),
            ('2014-01-03',  'AMZN'),
            ...
            ('2019-08-22',  'MSFT'),
            ('2019-08-22',    'FB'),
            ('2019-08-22',  'AMZN'),
            ('2019-08-22',  'AAPL'),
            ('2019-08-22', 'GOOGL'),
            ('2019-08-23',  'MSFT'),
            ('2019-08-23',  'AAPL'),
            ('2019-08-23', 'GOOGL'),
            ('2019-08-23',  'AMZN'),
            ('2019-08-23',    'FB')],
           names=['date', 'name'], length=7105)

In [88]:
dfm2 = pd.read_csv('./Sets/tech_giants.csv', index_col = ['date','name'])

In [89]:
dfm2

                  month  year  day     open    close     high      low  \
date       name
2014-01-02 FB         1  2014    2    54.86    54.71    55.22    54.19
           AAPL       1  2014    2    79.38    79.02    79.58    78.86
           GOOGL      1  2014    2   557.73   556.56   558.88   554.13
           MSFT       1  2014    2    37.35    37.16    37.40    37.10
           AMZN       1  2014    2   398.80   397.97   399.36   394.02
...                 ...   ...  ...      ...      ...      ...      ...
2019-08-23 MSFT       8  2019   23   137.19   133.39   138.35   132.80
           AAPL       8  2019   23   209.43   202.64   212.05   201.00
           GOOGL      8  2019   23  1185.17  1153.58  1195.67  1150.00
           AMZN       8  2019   23  1793.03  1749.62  1804.90  1745.23
           FB         8  2019   23   180.84   177.75   183.13   176.66

                    volume volume_type
date       name
2014-01-02 FB     43257622      medium
           AAPL    8398851         low
           GOOGL   1822719      medium
           MSFT   30643745      medium
           AMZN    2140246      medium
...                    ...         ...
2019-08-23 MSFT   38515386      medium
           AAPL   46882843      medium
           GOOGL   1813141      medium
           AMZN    5277898      medium
           FB     17331221      medium

[7105 rows x 9 columns]

In [90]:
dfm3 = pd.read_csv('./Sets/tech_giants.csv')

In [91]:
dfm3.set_index('date',inplace=True)

In [92]:
dfm3.set_index('name', append = True, inplace = True)

In [93]:
dfm3.head()

                  month  year  day    open   close    high     low    volume  \
date       name
2014-01-02 FB         1  2014    2   54.86   54.71   55.22   54.19  43257622
           AAPL       1  2014    2   79.38   79.02   79.58   78.86   8398851
           GOOGL      1  2014    2  557.73  556.56  558.88  554.13   1822719
           MSFT       1  2014    2   37.35   37.16   37.40   37.10  30643745
           AMZN       1  2014    2  398.80  397.97  399.36  394.02   2140246

                 volume_type
date       name
2014-01-02 FB         medium
           AAPL          low
           GOOGL      medium
           MSFT       medium
           AMZN       medium

## Atributos

In [94]:
dfm.index

MultiIndex([('2014-01-02',    'FB'),
            ('2014-01-02',  'AAPL'),
            ('2014-01-02', 'GOOGL'),
            ('2014-01-02',  'MSFT'),
            ('2014-01-02',  'AMZN'),
            ('2014-01-03',    'FB'),
            ('2014-01-03', 'GOOGL'),
            ('2014-01-03',  'MSFT'),
            ('2014-01-03',  'AAPL'),
            ('2014-01-03',  'AMZN'),
            ...
            ('2019-08-22',  'MSFT'),
            ('2019-08-22',    'FB'),
            ('2019-08-22',  'AMZN'),
            ('2019-08-22',  'AAPL'),
            ('2019-08-22', 'GOOGL'),
            ('2019-08-23',  'MSFT'),
            ('2019-08-23',  'AAPL'),
            ('2019-08-23', 'GOOGL'),
            ('2019-08-23',  'AMZN'),
            ('2019-08-23',    'FB')],
           names=['date', 'name'], length=7105)

In [95]:
dfm.index.names

FrozenList(['date', 'name'])

In [96]:
dfm.index.nlevels

2

El nivel más externo es el nivel 0

In [97]:
dfm.index.levels[0]

DatetimeIndex(['2014-01-02', '2014-01-03', '2014-01-06', '2014-01-07',
               '2014-01-08', '2014-01-09', '2014-01-10', '2014-01-13',
               '2014-01-14', '2014-01-15',
               ...
               '2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15',
               '2019-08-16', '2019-08-19', '2019-08-20', '2019-08-21',
               '2019-08-22', '2019-08-23'],
              dtype='datetime64[ns]', name='date', length=1421, freq=None)

In [98]:
dfm.index.levels[1]

Index(['AAPL', 'AMZN', 'FB', 'GOOGL', 'MSFT'], dtype='object', name='name')

1421 fechas diferentes, 5 names diferentes

In [99]:
dfm.index.levshape

(1421, 5)

In [100]:
dfm.index.values

array([(Timestamp('2014-01-02 00:00:00'), 'FB'),
       (Timestamp('2014-01-02 00:00:00'), 'AAPL'),
       (Timestamp('2014-01-02 00:00:00'), 'GOOGL'), ...,
       (Timestamp('2019-08-23 00:00:00'), 'GOOGL'),
       (Timestamp('2019-08-23 00:00:00'), 'AMZN'),
       (Timestamp('2019-08-23 00:00:00'), 'FB')], dtype=object)

## Indexing multinivel

In [101]:
dfm.head(3)

                  month  year  day    open   close    high     low    volume  \
date       name
2014-01-02 FB         1  2014    2   54.86   54.71   55.22   54.19  43257622
           AAPL       1  2014    2   79.38   79.02   79.58   78.86   8398851
           GOOGL      1  2014    2  557.73  556.56  558.88  554.13   1822719

                 volume_type
date       name
2014-01-02 FB         medium
           AAPL          low
           GOOGL      medium

Usar loc funciona igual, cuando sólo se considera el nivel más externo.

In [102]:
dfm.loc['2014-01-02']

                  month  year  day    open   close    high     low    volume  \
date       name
2014-01-02 FB         1  2014    2   54.86   54.71   55.22   54.19  43257622
           AAPL       1  2014    2   79.38   79.02   79.58   78.86   8398851
           GOOGL      1  2014    2  557.73  556.56  558.88  554.13   1822719
           MSFT       1  2014    2   37.35   37.16   37.40   37.10  30643745
           AMZN       1  2014    2  398.80  397.97  399.36  394.02   2140246

                 volume_type
date       name
2014-01-02 FB         medium
           AAPL          low
           GOOGL      medium
           MSFT       medium
           AMZN       medium

iloc es agnóstico al multiíndice. Se fija en el nivel más interno solamente.

In [103]:
dfm.iloc[3,3]

37.35

Se pueden pasar múltiples argumentos a loc para accesar dos instancias **específicas** de los índices.

In [104]:
dfm.loc['2014-01-02','GOOGL']

month                1
year              2014
day                  2
open            557.73
close           556.56
high            558.88
low             554.13
volume         1822719
volume_type     medium
Name: (2014-01-02 00:00:00, GOOGL), dtype: object

La forma correcta de hacer esto es pasando una tupla.

In [105]:
dfm.loc[('2014-01-02','GOOGL')]

month                1
year              2014
day                  2
open            557.73
close           556.56
high            558.88
low             554.13
volume         1822719
volume_type     medium
Name: (2014-01-02 00:00:00, GOOGL), dtype: object

Puede pasarse una tupla para index y un string para column.

In [106]:
dfm.loc[('2014-01-02','GOOGL'),'low']

date        name
2014-01-02  GOOGL    554.13
Name: low, dtype: float64

## Slicing multinivel

Seleccionar múltiples días específicos

In [107]:
dfm.loc[(['2014-01-06','2015-01-06','2015-02-06'],slice(None)),:]

                  month  year  day    open   close    high     low    volume  \
date       name
2014-01-06 MSFT       1  2014    6   36.86   36.13   36.89   36.11  43615035
           AMZN       1  2014    6  396.13  393.63  397.00  388.42   3172207
           AAPL       1  2014    6   76.78   77.70   78.11   76.23  14765593
           GOOGL      1  2014    6  556.51  558.66  559.43  553.22   1770782
           FB         1  2014    6   54.39   57.20   57.26   54.05  68974359
2015-01-06 AAPL       1  2015    6  106.54  106.26  107.43  104.63  65797116
           FB         1  2015    6   77.23   76.15   77.59   75.36  27399288
           AMZN       1  2015    6  302.20  295.29  303.00  292.38   3519034
           MSFT       1  2015    6   46.38   45.65   46.75   45.54  36447854
           GOOGL      1  2015    6  520.49  506.64  521.21  505.55   2731813
2015-02-06 AAPL       2  2015    6  120.02  118.93  120.25  118.45  43706567
           AMZN       2  2015    6  374.87  374.28  375.99  371.01   3892382
           FB         2  2015    6   75.68   74.47   75.70   74.25  21210994
           GOOGL      2  2015    6  531.02  533.88  540.22  528.65   2146922
           MSFT       2  2015    6   42.68   42.41   42.79   42.15  34616554

                 volume_type
date       name
2014-01-06 MSFT       medium
           AMZN       medium
           AAPL          low
           GOOGL      medium
           FB           high
2015-01-06 AAPL       medium
           FB         medium
           AMZN       medium
           MSFT       medium
           GOOGL      medium
2015-02-06 AAPL       medium
           AMZN       medium
           FB         medium
           GOOGL      medium
           MSFT       medium

Se pueden pasar dos listas dentro de una tupla para ver instancias de varios niveles.

In [108]:
dfm.loc[(['2014-01-06','2015-01-07','2015-02-10'],['MSFT','AMZN']),:]

,,month,year,day,open,close,high,low,volume,volume_type
date,name,,,,,,,,,
2014-01-06,MSFT,1,2014,6,36.86,36.13,36.89,36.11,43615035,medium
2015-01-07,MSFT,1,2015,7,45.98,46.23,46.46,45.49,29114061,medium
2015-02-10,MSFT,2,2015,10,42.74,42.60,42.77,42.18,29670676,medium
2014-01-06,AMZN,1,2014,6,396.13,393.63,397.00,388.42,3172207,medium
2015-01-07,AMZN,1,2015,7,297.54,298.42,301.28,295.33,2640349,medium
2015-02-10,AMZN,2,2015,10,371.19,373.00,374.30,368.51,2287232,medium

Slicing a través de nivel exterior y columna

In [109]:
dfm.loc['2014-01-06':'2014-03-06','open':'high']

                    open   close    high
date       name
2014-01-06 MSFT    36.86   36.13   36.89
           AMZN   396.13  393.63  397.00
           AAPL    76.78   77.70   78.11
           GOOGL  556.51  558.66  559.43
           FB      54.39   57.20   57.26
...                  ...     ...     ...
2014-03-06 FB      71.85   70.84   71.89
           AAPL    76.11   75.82   76.35
           GOOGL  611.16  609.80  613.07
           MSFT    38.11   38.15   38.24
           AMZN   374.08  372.16  375.33

[210 rows x 3 columns]

Mezclando niveles

In [110]:
dfm.loc[(slice('2014-01-06','2014-03-06'),['GOOGL','FB']),'open':'high']

                    open   close    high
date       name
2014-01-06 GOOGL  556.51  558.66  559.43
           FB      54.39   57.20   57.26
2014-01-07 FB      57.67   57.92   58.55
           GOOGL  562.49  569.43  569.85
2014-01-08 GOOGL  573.66  570.62  573.66
...                  ...     ...     ...
2014-03-04 GOOGL  607.50  607.46  608.00
2014-03-05 GOOGL  607.53  609.13  611.54
           FB      69.70   71.57   71.97
2014-03-06 FB      71.85   70.84   71.89
           GOOGL  611.16  609.80  613.07

[84 rows x 3 columns]

Seleccionando nivel interior

In [111]:
dfm.loc[(slice(None),['GOOGL','FB']),'open':'high']

                    open   close    high
date       name
2014-01-02 GOOGL  557.73  556.56  558.88
2014-01-03 GOOGL  557.50  552.50  558.47
2014-01-06 GOOGL  556.51  558.66  559.43
2014-01-07 GOOGL  562.49  569.43  569.85
2014-01-08 GOOGL  573.66  570.62  573.66
...                  ...     ...     ...
2019-08-19 FB     186.01  186.17  187.50
2019-08-20 FB     185.45  183.81  186.00
2019-08-21 FB     185.00  183.55  185.90
2019-08-22 FB     183.43  182.04  184.11
2019-08-23 FB     180.84  177.75  183.13

[2842 rows x 3 columns]

Cross sections

Son más rápidos que .loc y tienen menos errores. Sin embargo sólo pueden buscar una instancia de cada nivel. (No puedes hacer slicing)

In [112]:
dfm.xs(key = '2014-01-02', level = 0, drop_level = False)

                  month  year  day    open   close    high     low    volume  \
date       name
2014-01-02 FB         1  2014    2   54.86   54.71   55.22   54.19  43257622
           AAPL       1  2014    2   79.38   79.02   79.58   78.86   8398851
           GOOGL      1  2014    2  557.73  556.56  558.88  554.13   1822719
           MSFT       1  2014    2   37.35   37.16   37.40   37.10  30643745
           AMZN       1  2014    2  398.80  397.97  399.36  394.02   2140246

                 volume_type
date       name
2014-01-02 FB         medium
           AAPL          low
           GOOGL      medium
           MSFT       medium
           AMZN       medium

In [113]:
dfm.xs(key = 'FB', level = 'name', drop_level = False)

,,month,year,day,open,close,high,low,volume,volume_type
date,name,,,,,,,,,
2014-01-02,FB,1,2014,2,54.86,54.71,55.22,54.19,43257622,medium
2014-01-03,FB,1,2014,3,55.00,54.56,55.65,54.53,38287706,medium
2014-01-06,FB,1,2014,6,54.39,57.20,57.26,54.05,68974359,high
2014-01-07,FB,1,2014,7,57.67,57.92,58.55,57.22,77329009,high
2014-01-08,FB,1,2014,8,57.59,58.23,58.41,57.23,56800776,high
...,...,...,...,...,...,...,...,...,...,...
2019-08-19,FB,8,2019,19,186.01,186.17,187.50,184.85,9699661,low
2019-08-20,FB,8,2019,20,185.45,183.81,186.00,182.39,10087592,low
2019-08-21,FB,8,2019,21,185.00,183.55,185.90,183.14,8409548,low
2019-08-22,FB,8,2019,22,183.43,182.04,184.11,179.91,10829509,low
2019-08-23,FB,8,2019,23,180.84,177.75,183.13,176.66,17331221,medium

In [114]:
dfm.xs(key = ('2014-01-02','FB'), level = ('date','name'), drop_level = False)

,,month,year,day,open,close,high,low,volume,volume_type
date,name,,,,,,,,,
2014-01-02,FB,1,2014,2,54.86,54.71,55.22,54.19,43257622,medium

In [115]:
dfm.xs(key = ('2014-01-02','FB'), level = (0,1), drop_level = False)

,,month,year,day,open,close,high,low,volume,volume_type
date,name,,,,,,,,,
2014-01-02,FB,1,2014,2,54.86,54.71,55.22,54.19,43257622,medium

### Ejemplos con Pokemon...

In [116]:
df = pd.read_csv('./Sets/pokemon.csv')

In [117]:
dfm = df.set_index(['generation','type1','is_legendary'])

In [118]:
dfm.loc[(slice(None),'dragon',1), ['attack','name']]

                                attack      name
generation type1  is_legendary
3          dragon 1                100    Latias
                  1                130    Latios
                  1                180  Rayquaza
5          dragon 1                120  Reshiram
                  1                150    Zekrom
                  1                120    Kyurem
6          dragon 1                100   Zygarde

In [119]:
dfm.loc[(slice(1,3),'dragon',slice(None)), ['attack','name']]

                                attack       name
generation type1  is_legendary
1          dragon 0                 64    Dratini
                  0                 84  Dragonair
                  0                134  Dragonite
3          dragon 0                110    Altaria
                  0                 75      Bagon
                  0                 95    Shelgon
                  0                145  Salamence
                  1                100     Latias
                  1                130     Latios
                  1                180   Rayquaza

Para quitar ese warning usa xs.  

Si no vas a hacer slices, xs es mejor opción.

In [120]:
dfm.loc[(7,'normal',0), ['attack','name']]

/home/supergabo/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:889: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

                                attack        name
generation type1  is_legendary
7          normal 0                 75     Pikipek
                  0                 85    Trumbeak
                  0                120   Toucannon
                  0                 70     Yungoos
                  0                110    Gumshoos
                  0                 75     Stufful
                  0                125      Bewear
                  0                 60    Oranguru
                  0                 95  Type: Null
                  0                 95    Silvally
                  0                115      Komala
                  0                 60      Drampa

In [121]:
dfm.xs(key = (7,'normal',0), level = (0,1,2), drop_level = False)[['attack','name']]

                                attack        name
generation type1  is_legendary
7          normal 0                 75     Pikipek
                  0                 85    Trumbeak
                  0                120   Toucannon
                  0                 70     Yungoos
                  0                110    Gumshoos
                  0                 75     Stufful
                  0                125      Bewear
                  0                 60    Oranguru
                  0                 95  Type: Null
                  0                 95    Silvally
                  0                115      Komala
                  0                 60      Drampa

## Slicing multinivel sin slice()

Si el slice() es contra intuitivo y no te gusta usar comas en vez de : puedes hacer esto

In [122]:
dfm.loc[pd.IndexSlice[1:3,'ice',:],['attack']]

                               attack
generation type1 is_legendary
1          ice   0                 50
                 1                 85
2          ice   0                 50
                 0                100
                 0                 55
                 0                 30
3          ice   0                 50
                 0                120
                 0                 40
                 0                 60
                 0                 80
                 1                 50

Puedes asignar esto a una variable para hacerlo más rápido

In [123]:
i = pd.IndexSlice

In [124]:
dfm.loc[i[1:3,'ice',:],['attack']]

                               attack
generation type1 is_legendary
1          ice   0                 50
                 1                 85
2          ice   0                 50
                 0                100
                 0                 55
                 0                 30
3          ice   0                 50
                 0                120
                 0                 40
                 0                 60
                 0                 80
                 1                 50

## Moving levels around

**swaplevel**

No inplace parameter! Must me copied or reassigned

In [125]:
dfm.swaplevel(i = 2, j = 0)

                                                   abilities  against_bug  \
is_legendary type1   generation
0            grass   1           ['Overgrow', 'Chlorophyll']         1.00
                     1           ['Overgrow', 'Chlorophyll']         1.00
                     1           ['Overgrow', 'Chlorophyll']         1.00
             fire    1              ['Blaze', 'Solar Power']         0.50
                     1              ['Blaze', 'Solar Power']         0.50
...                                                      ...          ...
1            steel   7                       ['Beast Boost']         0.25
             grass   7                       ['Beast Boost']         1.00
             dark    7                       ['Beast Boost']         2.00
             psychic 7                       ['Prism Armor']         2.00
             steel   7                        ['Soul-Heart']         0.25

                                 against_dark  against_dragon  \
is_legendary type1   generation
0            grass   1                    1.0             1.0
                     1                    1.0             1.0
                     1                    1.0             1.0
             fire    1                    1.0             1.0
                     1                    1.0             1.0
...                                       ...             ...
1            steel   7                    1.0             0.5
             grass   7                    1.0             0.5
             dark    7                    0.5             2.0
             psychic 7                    2.0             1.0
             steel   7                    0.5             0.0

                                 against_electric  against_fairy  \
is_legendary type1   generation
0            grass   1                        0.5            0.5
                     1                        0.5            0.5
                     1                        0.5            0.5
             fire    1                        1.0            0.5
                     1                        1.0            0.5
...                                           ...            ...
1            steel   7                        2.0            0.5
             grass   7                        0.5            0.5
             dark    7                        0.5            4.0
             psychic 7                        1.0            1.0
             steel   7                        1.0            0.5

                                 against_fight  against_fire  against_flying  \
is_legendary type1   generation
0            grass   1                     0.5           2.0             2.0
                     1                     0.5           2.0             2.0
                     1                     0.5           2.0             2.0
             fire    1                     1.0           0.5             1.0
                     1                     1.0           0.5             1.0
...                                        ...           ...             ...
1            steel   7                     1.0           2.0             0.5
             grass   7                     2.0           4.0             1.0
             dark    7                     2.0           0.5             1.0
             psychic 7                     0.5           1.0             1.0
             steel   7                     1.0           2.0             0.5

                                 against_ghost  ...   hp     japanese_name  \
is_legendary type1   generation                 ...
0            grass   1                     1.0  ...   45  Fushigidaneフシギダネ
                     1                     1.0  ...   60   Fushigisouフシギソウ
                     1                     1.0  ...   80  Fushigibanaフシギバナ
             fire    1                     1.0  ...   39      Hitokageヒトカゲ
                     1                     1.0  ...   58       Lizardoリザード
...                                        ...  ...  ...               ...
1            steel   7                     1.0  ...   97    Tekkaguyaテッカグヤ
             grass   7                     1.0  ...   59   Kamiturugiカミツルギ
             dark    7                     0.5  ...  223   Akuzikingアクジキング
             psychic 7                     2.0  ...   97     Necrozmaネクロズマ
             steel   7                     1.0  ...   80      Magearnaマギアナ

                                       name  percentage_male  pokedex_number  \
is_legendary type1   generation
0            grass   1            Bulbasaur             88.1               1
                     1              Ivysaur             88.1               2
                     1             Venusaur             88.1               3
             fire    1           Charmander             88.1               4
                     1           Charmeleon             88.1               5
...                                     ...              ...             ...
1            steel   7           Celesteela              NaN             797
             grass   7              Kartana              NaN             798
             dark    7             Guzzlord              NaN             799
             psychic 7             Necrozma              NaN             800
             steel   7             Magearna              NaN             801

                                 sp_attack  sp_defense  speed   type2  \
is_legendary type1   generation
0            grass   1                  65          65     45  poison
                     1                  80          80     60  poison
                     1                 122         120     80  poison
             fire    1                  60          50     65     NaN
                     1                  80          65     80     NaN
...                                    ...         ...    ...     ...
1            steel   7                 107         101     61  flying
             grass   7                  59          31    109   steel
             dark    7                  97          53     43  dragon
             psychic 7                 127          89     79     NaN
             steel   7                 130         115     65   fairy

                                 weight_kg
is_legendary type1   generation
0            grass   1                 6.9
                     1                13.0
                     1               100.0
             fire    1                 8.5
                     1                19.0
...                                    ...
1            steel   7               999.9
             grass   7                 0.1
             dark    7               888.0
             psychic 7               230.0
             steel   7                80.5

[801 rows x 38 columns]

**reorder_levels**

In [126]:
dfm.reorder_levels([1,0,2])

                                                   abilities  against_bug  \
type1   generation is_legendary
grass   1          0             ['Overgrow', 'Chlorophyll']         1.00
                   0             ['Overgrow', 'Chlorophyll']         1.00
                   0             ['Overgrow', 'Chlorophyll']         1.00
fire    1          0                ['Blaze', 'Solar Power']         0.50
                   0                ['Blaze', 'Solar Power']         0.50
...                                                      ...          ...
steel   7          1                         ['Beast Boost']         0.25
grass   7          1                         ['Beast Boost']         1.00
dark    7          1                         ['Beast Boost']         2.00
psychic 7          1                         ['Prism Armor']         2.00
steel   7          1                          ['Soul-Heart']         0.25

                                 against_dark  against_dragon  \
type1   generation is_legendary
grass   1          0                      1.0             1.0
                   0                      1.0             1.0
                   0                      1.0             1.0
fire    1          0                      1.0             1.0
                   0                      1.0             1.0
...                                       ...             ...
steel   7          1                      1.0             0.5
grass   7          1                      1.0             0.5
dark    7          1                      0.5             2.0
psychic 7          1                      2.0             1.0
steel   7          1                      0.5             0.0

                                 against_electric  against_fairy  \
type1   generation is_legendary
grass   1          0                          0.5            0.5
                   0                          0.5            0.5
                   0                          0.5            0.5
fire    1          0                          1.0            0.5
                   0                          1.0            0.5
...                                           ...            ...
steel   7          1                          2.0            0.5
grass   7          1                          0.5            0.5
dark    7          1                          0.5            4.0
psychic 7          1                          1.0            1.0
steel   7          1                          1.0            0.5

                                 against_fight  against_fire  against_flying  \
type1   generation is_legendary
grass   1          0                       0.5           2.0             2.0
                   0                       0.5           2.0             2.0
                   0                       0.5           2.0             2.0
fire    1          0                       1.0           0.5             1.0
                   0                       1.0           0.5             1.0
...                                        ...           ...             ...
steel   7          1                       1.0           2.0             0.5
grass   7          1                       2.0           4.0             1.0
dark    7          1                       2.0           0.5             1.0
psychic 7          1                       0.5           1.0             1.0
steel   7          1                       1.0           2.0             0.5

                                 against_ghost  ...   hp     japanese_name  \
type1   generation is_legendary                 ...
grass   1          0                       1.0  ...   45  Fushigidaneフシギダネ
                   0                       1.0  ...   60   Fushigisouフシギソウ
                   0                       1.0  ...   80  Fushigibanaフシギバナ
fire    1          0                       1.0  ...   39      Hitokageヒトカゲ
                   0                       1.0  ...   58       Lizardoリザード
...                                        ...  ...  ...               ...
steel   7          1                       1.0  ...   97    Tekkaguyaテッカグヤ
grass   7          1                       1.0  ...   59   Kamiturugiカミツルギ
dark    7          1                       0.5  ...  223   Akuzikingアクジキング
psychic 7          1                       2.0  ...   97     Necrozmaネクロズマ
steel   7          1                       1.0  ...   80      Magearnaマギアナ

                                       name  percentage_male  pokedex_number  \
type1   generation is_legendary
grass   1          0              Bulbasaur             88.1               1
                   0                Ivysaur             88.1               2
                   0               Venusaur             88.1               3
fire    1          0             Charmander             88.1               4
                   0             Charmeleon             88.1               5
...                                     ...              ...             ...
steel   7          1             Celesteela              NaN             797
grass   7          1                Kartana              NaN             798
dark    7          1               Guzzlord              NaN             799
psychic 7          1               Necrozma              NaN             800
steel   7          1               Magearna              NaN             801

                                 sp_attack  sp_defense  speed   type2  \
type1   generation is_legendary
grass   1          0                    65          65     45  poison
                   0                    80          80     60  poison
                   0                   122         120     80  poison
fire    1          0                    60          50     65     NaN
                   0                    80          65     80     NaN
...                                    ...         ...    ...     ...
steel   7          1                   107         101     61  flying
grass   7          1                    59          31    109   steel
dark    7          1                    97          53     43  dragon
psychic 7          1                   127          89     79     NaN
steel   7          1                   130         115     65   fairy

                                 weight_kg
type1   generation is_legendary
grass   1          0                   6.9
                   0                  13.0
                   0                 100.0
fire    1          0                   8.5
                   0                  19.0
...                                    ...
steel   7          1                 999.9
grass   7          1                   0.1
dark    7          1                 888.0
psychic 7          1                 230.0
steel   7          1                  80.5

[801 rows x 38 columns]

## Removing levels

note: both methods accept lists as parameters to remove multiple levels.

**droplevel**  
once dropped, the level is completely removed.

In [127]:
dfm.droplevel(0)

                                        abilities  against_bug  against_dark  \
type1   is_legendary
grass   0             ['Overgrow', 'Chlorophyll']         1.00           1.0
        0             ['Overgrow', 'Chlorophyll']         1.00           1.0
        0             ['Overgrow', 'Chlorophyll']         1.00           1.0
fire    0                ['Blaze', 'Solar Power']         0.50           1.0
        0                ['Blaze', 'Solar Power']         0.50           1.0
...                                           ...          ...           ...
steel   1                         ['Beast Boost']         0.25           1.0
grass   1                         ['Beast Boost']         1.00           1.0
dark    1                         ['Beast Boost']         2.00           0.5
psychic 1                         ['Prism Armor']         2.00           2.0
steel   1                          ['Soul-Heart']         0.25           0.5

                      against_dragon  against_electric  against_fairy  \
type1   is_legendary
grass   0                        1.0               0.5            0.5
        0                        1.0               0.5            0.5
        0                        1.0               0.5            0.5
fire    0                        1.0               1.0            0.5
        0                        1.0               1.0            0.5
...                              ...               ...            ...
steel   1                        0.5               2.0            0.5
grass   1                        0.5               0.5            0.5
dark    1                        2.0               0.5            4.0
psychic 1                        1.0               1.0            1.0
steel   1                        0.0               1.0            0.5

                      against_fight  against_fire  against_flying  \
type1   is_legendary
grass   0                       0.5           2.0             2.0
        0                       0.5           2.0             2.0
        0                       0.5           2.0             2.0
fire    0                       1.0           0.5             1.0
        0                       1.0           0.5             1.0
...                             ...           ...             ...
steel   1                       1.0           2.0             0.5
grass   1                       2.0           4.0             1.0
dark    1                       2.0           0.5             1.0
psychic 1                       0.5           1.0             1.0
steel   1                       1.0           2.0             0.5

                      against_ghost  ...   hp     japanese_name        name  \
type1   is_legendary                 ...
grass   0                       1.0  ...   45  Fushigidaneフシギダネ   Bulbasaur
        0                       1.0  ...   60   Fushigisouフシギソウ     Ivysaur
        0                       1.0  ...   80  Fushigibanaフシギバナ    Venusaur
fire    0                       1.0  ...   39      Hitokageヒトカゲ  Charmander
        0                       1.0  ...   58       Lizardoリザード  Charmeleon
...                             ...  ...  ...               ...         ...
steel   1                       1.0  ...   97    Tekkaguyaテッカグヤ  Celesteela
grass   1                       1.0  ...   59   Kamiturugiカミツルギ     Kartana
dark    1                       0.5  ...  223   Akuzikingアクジキング    Guzzlord
psychic 1                       2.0  ...   97     Necrozmaネクロズマ    Necrozma
steel   1                       1.0  ...   80      Magearnaマギアナ    Magearna

                      percentage_male  pokedex_number  sp_attack  sp_defense  \
type1   is_legendary
grass   0                        88.1               1         65          65
        0                        88.1               2         80          80
        0                        88.1               3        122         120
fire    0                        88.1               4         60          50
        0                        88.1               5         80          65
...                               ...             ...        ...         ...
steel   1                         NaN             797        107         101
grass   1                         NaN             798         59          31
dark    1                         NaN             799         97          53
psychic 1                         NaN             800        127          89
steel   1                         NaN             801        130         115

                      speed   type2  weight_kg
type1   is_legendary
grass   0                45  poison        6.9
        0                60  poison       13.0
        0                80  poison      100.0
fire    0                65     NaN        8.5
        0                80     NaN       19.0
...                     ...     ...        ...
steel   1                61  flying      999.9
grass   1               109   steel        0.1
dark    1                43  dragon      888.0
psychic 1                79     NaN      230.0
steel   1                65   fairy       80.5

[801 rows x 38 columns]

**reset_index**  

Allows for level to be restored as a columns

In [128]:
dfm.reset_index()

,generation,type1,is_legendary,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,...,hp,japanese_name,name,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type2,weight_kg
0,1,grass,0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,...,45,Fushigidaneフシギダネ,Bulbasaur,88.1,1,65,65,45,poison,6.9
1,1,grass,0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,...,60,Fushigisouフシギソウ,Ivysaur,88.1,2,80,80,60,poison,13.0
2,1,grass,0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,...,80,Fushigibanaフシギバナ,Venusaur,88.1,3,122,120,80,poison,100.0
3,1,fire,0,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,...,39,Hitokageヒトカゲ,Charmander,88.1,4,60,50,65,NaN,8.5
4,1,fire,0,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,...,58,Lizardoリザード,Charmeleon,88.1,5,80,65,80,NaN,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,7,steel,1,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,...,97,Tekkaguyaテッカグヤ,Celesteela,NaN,797,107,101,61,flying,999.9
797,7,grass,1,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,...,59,Kamiturugiカミツルギ,Kartana,NaN,798,59,31,109,steel,0.1
798,7,dark,1,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,...,223,Akuzikingアクジキング,Guzzlord,NaN,799,97,53,43,dragon,888.0
799,7,psychic,1,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,...,97,Necrozmaネクロズマ,Necrozma,NaN,800,127,89,79,NaN,230.0
800,7,steel,1,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,...,80,Magearnaマギアナ,Magearna,NaN,801,130,115,65,fairy,80.5

See generation columns!

In [129]:
dfm.reset_index(level = 0, drop = False)

                      generation                    abilities  against_bug  \
type1   is_legendary
grass   0                      1  ['Overgrow', 'Chlorophyll']         1.00
        0                      1  ['Overgrow', 'Chlorophyll']         1.00
        0                      1  ['Overgrow', 'Chlorophyll']         1.00
fire    0                      1     ['Blaze', 'Solar Power']         0.50
        0                      1     ['Blaze', 'Solar Power']         0.50
...                          ...                          ...          ...
steel   1                      7              ['Beast Boost']         0.25
grass   1                      7              ['Beast Boost']         1.00
dark    1                      7              ['Beast Boost']         2.00
psychic 1                      7              ['Prism Armor']         2.00
steel   1                      7               ['Soul-Heart']         0.25

                      against_dark  against_dragon  against_electric  \
type1   is_legendary
grass   0                      1.0             1.0               0.5
        0                      1.0             1.0               0.5
        0                      1.0             1.0               0.5
fire    0                      1.0             1.0               1.0
        0                      1.0             1.0               1.0
...                            ...             ...               ...
steel   1                      1.0             0.5               2.0
grass   1                      1.0             0.5               0.5
dark    1                      0.5             2.0               0.5
psychic 1                      2.0             1.0               1.0
steel   1                      0.5             0.0               1.0

                      against_fairy  against_fight  against_fire  \
type1   is_legendary
grass   0                       0.5            0.5           2.0
        0                       0.5            0.5           2.0
        0                       0.5            0.5           2.0
fire    0                       0.5            1.0           0.5
        0                       0.5            1.0           0.5
...                             ...            ...           ...
steel   1                       0.5            1.0           2.0
grass   1                       0.5            2.0           4.0
dark    1                       4.0            2.0           0.5
psychic 1                       1.0            0.5           1.0
steel   1                       0.5            1.0           2.0

                      against_flying  ...   hp     japanese_name        name  \
type1   is_legendary                  ...
grass   0                        2.0  ...   45  Fushigidaneフシギダネ   Bulbasaur
        0                        2.0  ...   60   Fushigisouフシギソウ     Ivysaur
        0                        2.0  ...   80  Fushigibanaフシギバナ    Venusaur
fire    0                        1.0  ...   39      Hitokageヒトカゲ  Charmander
        0                        1.0  ...   58       Lizardoリザード  Charmeleon
...                              ...  ...  ...               ...         ...
steel   1                        0.5  ...   97    Tekkaguyaテッカグヤ  Celesteela
grass   1                        1.0  ...   59   Kamiturugiカミツルギ     Kartana
dark    1                        1.0  ...  223   Akuzikingアクジキング    Guzzlord
psychic 1                        1.0  ...   97     Necrozmaネクロズマ    Necrozma
steel   1                        0.5  ...   80      Magearnaマギアナ    Magearna

                      percentage_male  pokedex_number  sp_attack  sp_defense  \
type1   is_legendary
grass   0                        88.1               1         65          65
        0                        88.1               2         80          80
        0                        88.1               3        122         120
fire    0                        88.1               4         60          50
        0                        88.1               5         80          65
...                               ...             ...        ...         ...
steel   1                         NaN             797        107         101
grass   1                         NaN             798         59          31
dark    1                         NaN             799         97          53
psychic 1                         NaN             800        127          89
steel   1                         NaN             801        130         115

                      speed   type2  weight_kg
type1   is_legendary
grass   0                45  poison        6.9
        0                60  poison       13.0
        0                80  poison      100.0
fire    0                65     NaN        8.5
        0                80     NaN       19.0
...                     ...     ...        ...
steel   1                61  flying      999.9
grass   1               109   steel        0.1
dark    1                43  dragon      888.0
psychic 1                79     NaN      230.0
steel   1                65   fairy       80.5

[801 rows x 39 columns]

## Sorting

Sorting type level will fail because index is not sorted!

In [130]:
dfm.loc[(1,slice('bug','water'),slice(None)),:]

UnsortedIndexError: 'MultiIndex slicing requires the index to be lexsorted: slicing on levels [1], lexsort depth 1'

In [131]:
dfm.index.is_lexsorted()

False

By sorting it all gets good.

In [132]:
dfm.sort_index(inplace = True)

In [133]:
dfm.index.is_lexsorted()

True

In [134]:
dfm.loc[(1,slice('bug','water'),slice(None)),:]

                                                                  abilities  \
generation type1 is_legendary
1          bug   0                              ['Shield Dust', 'Run Away']
                 0                                            ['Shed Skin']
                 0                          ['Compoundeyes', 'Tinted Lens']
                 0                              ['Shield Dust', 'Run Away']
                 0                                            ['Shed Skin']
...                                                                     ...
           water 0               ['Illuminate', 'Natural Cure', 'Analytic']
                 0                                ['Swift Swim', 'Rattled']
                 0                                  ['Intimidate', 'Moxie']
                 0             ['Water Absorb', 'Shell Armor', 'Hydration']
                 0                            ['Water Absorb', 'Hydration']

                               against_bug  against_dark  against_dragon  \
generation type1 is_legendary
1          bug   0                     1.0           1.0             1.0
                 0                     1.0           1.0             1.0
                 0                     0.5           1.0             1.0
                 0                     0.5           1.0             1.0
                 0                     0.5           1.0             1.0
...                                    ...           ...             ...
           water 0                     2.0           2.0             1.0
                 0                     1.0           1.0             1.0
                 0                     0.5           1.0             1.0
                 0                     1.0           1.0             1.0
                 0                     1.0           1.0             1.0

                               against_electric  against_fairy  against_fight  \
generation type1 is_legendary
1          bug   0                          1.0            1.0           0.50
                 0                          1.0            1.0           0.50
                 0                          2.0            1.0           0.25
                 0                          1.0            0.5           0.25
                 0                          1.0            0.5           0.25
...                                         ...            ...            ...
           water 0                          2.0            1.0           0.50
                 0                          2.0            1.0           1.00
                 0                          4.0            1.0           0.50
                 0                          2.0            1.0           2.00
                 0                          2.0            1.0           1.00

                               against_fire  against_flying  against_ghost  \
generation type1 is_legendary
1          bug   0                      2.0             2.0            1.0
                 0                      2.0             2.0            1.0
                 0                      2.0             2.0            1.0
                 0                      2.0             2.0            1.0
                 0                      2.0             2.0            1.0
...                                     ...             ...            ...
           water 0                      0.5             1.0            2.0
                 0                      0.5             1.0            1.0
                 0                      0.5             1.0            1.0
                 0                      1.0             1.0            1.0
                 0                      0.5             1.0            1.0

                               ...   hp    japanese_name        name  \
generation type1 is_legendary  ...
1          bug   0             ...   45    Caterpieキャタピー    Caterpie
                 0             ...   50     Transelトランセル     Metapod
                 0             ...   60  Butterfreeバタフリー  Butterfree
                 0             ...   40       Beedleビードル      Weedle
                 0             ...   45       Cocoonコクーン      Kakuna
...                            ...  ...              ...         ...
           water 0             ...   60     Starmieスターミー     Starmie
                 0             ...   20     Koikingコイキング    Magikarp
                 0             ...   95    Gyaradosギャラドス    Gyarados
                 0             ...  130      Laplaceラプラス      Lapras
                 0             ...  130     Showersシャワーズ    Vaporeon

                               percentage_male  pokedex_number  sp_attack  \
generation type1 is_legendary
1          bug   0                        50.0              10         20
                 0                        50.0              11         25
                 0                        50.0              12         90
                 0                        50.0              13         20
                 0                        50.0              14         25
...                                        ...             ...        ...
           water 0                         NaN             121        100
                 0                        50.0             129         15
                 0                        50.0             130         70
                 0                        50.0             131         85
                 0                        88.1             134        110

                               sp_defense  speed    type2  weight_kg
generation type1 is_legendary
1          bug   0                     20     45      NaN        2.9
                 0                     25     30      NaN        9.9
                 0                     80     70   flying       32.0
                 0                     20     50   poison        3.2
                 0                     25     35   poison       10.0
...                                   ...    ...      ...        ...
           water 0                     85    115  psychic       80.0
                 0                     20     80      NaN       10.0
                 0                    130     81   flying      235.0
                 0                     95     60      ice      220.0
                 0                     95     65      NaN       29.0

[151 rows x 38 columns]

Customizable sorting

In [135]:
dfm.sort_index(level = (0,1,2), ascending = [False,True,False])

                                                                  abilities  \
generation type1 is_legendary
7          bug   1                                          ['Beast Boost']
                 1                                          ['Beast Boost']
                 0                                                ['Swarm']
                 0                                              ['Battery']
                 0                                             ['Levitate']
...                                                                     ...
1          water 0               ['Illuminate', 'Natural Cure', 'Analytic']
                 0                                ['Swift Swim', 'Rattled']
                 0                                  ['Intimidate', 'Moxie']
                 0             ['Water Absorb', 'Shell Armor', 'Hydration']
                 0                            ['Water Absorb', 'Hydration']

                               against_bug  against_dark  against_dragon  \
generation type1 is_legendary
7          bug   1                     0.5           0.5             1.0
                 1                     0.5           0.5             1.0
                 0                     1.0           1.0             1.0
                 0                     1.0           1.0             1.0
                 0                     1.0           1.0             1.0
...                                    ...           ...             ...
1          water 0                     2.0           2.0             1.0
                 0                     1.0           1.0             1.0
                 0                     0.5           1.0             1.0
                 0                     1.0           1.0             1.0
                 0                     1.0           1.0             1.0

                               against_electric  against_fairy  against_fight  \
generation type1 is_legendary
7          bug   1                          1.0            2.0            0.5
                 1                          1.0            2.0            0.5
                 0                          1.0            1.0            0.5
                 0                          0.5            1.0            0.5
                 0                          0.5            1.0            0.5
...                                         ...            ...            ...
1          water 0                          2.0            1.0            0.5
                 0                          2.0            1.0            1.0
                 0                          4.0            1.0            0.5
                 0                          2.0            1.0            2.0
                 0                          2.0            1.0            1.0

                               against_fire  against_flying  against_ghost  \
generation type1 is_legendary
7          bug   1                      2.0             4.0            1.0
                 1                      2.0             4.0            1.0
                 0                      2.0             2.0            1.0
                 0                      2.0             1.0            1.0
                 0                      2.0             1.0            1.0
...                                     ...             ...            ...
1          water 0                      0.5             1.0            2.0
                 0                      0.5             1.0            1.0
                 0                      0.5             1.0            1.0
                 0                      1.0             1.0            1.0
                 0                      0.5             1.0            1.0

                               ...   hp    japanese_name       name  \
generation type1 is_legendary  ...
7          bug   1             ...  107  Massivoonマッシブーン   Buzzwole
                 1             ...   71  Pheroacheフェローチェ  Pheromosa
                 0             ...   47  Agojimushiアゴジムシ    Grubbin
                 0             ...   57  Dendimushiデンヂムシ  Charjabug
                 0             ...   77  Kuwagannonクワガノン   Vikavolt
...                            ...  ...              ...        ...
1          water 0             ...   60     Starmieスターミー    Starmie
                 0             ...   20     Koikingコイキング   Magikarp
                 0             ...   95    Gyaradosギャラドス   Gyarados
                 0             ...  130      Laplaceラプラス     Lapras
                 0             ...  130     Showersシャワーズ   Vaporeon

                               percentage_male  pokedex_number  sp_attack  \
generation type1 is_legendary
7          bug   1                         NaN             794         53
                 1                         NaN             795        137
                 0                        50.0             736         55
                 0                        50.0             737         55
                 0                        50.0             738        145
...                                        ...             ...        ...
1          water 0                         NaN             121        100
                 0                        50.0             129         15
                 0                        50.0             130         70
                 0                        50.0             131         85
                 0                        88.1             134        110

                               sp_defense  speed     type2  weight_kg
generation type1 is_legendary
7          bug   1                     53     79  fighting      333.6
                 1                     37    151  fighting       25.0
                 0                     45     46       NaN        4.4
                 0                     75     36  electric       10.5
                 0                     75     43  electric       45.0
...                                   ...    ...       ...        ...
1          water 0                     85    115   psychic       80.0
                 0                     20     80       NaN       10.0
                 0                    130     81    flying      235.0
                 0                     95     60       ice      220.0
                 0                     95     65       NaN       29.0

[801 rows x 38 columns]

## Rename

In [136]:
dfm.index.set_names(['Nivel 0','Nivel 1','Nivel 2'])

MultiIndex([(1,   'bug', 0),
            (1,   'bug', 0),
            (1,   'bug', 0),
            (1,   'bug', 0),
            (1,   'bug', 0),
            (1,   'bug', 0),
            (1,   'bug', 0),
            (1,   'bug', 0),
            (1,   'bug', 0),
            (1,   'bug', 0),
            ...
            (7, 'steel', 1),
            (7, 'water', 0),
            (7, 'water', 0),
            (7, 'water', 0),
            (7, 'water', 0),
            (7, 'water', 0),
            (7, 'water', 0),
            (7, 'water', 0),
            (7, 'water', 0),
            (7, 'water', 1)],
           names=['Nivel 0', 'Nivel 1', 'Nivel 2'], length=801)

## Flatten

In [137]:
dfm.index.to_flat_index()

Index([  (1, 'bug', 0),   (1, 'bug', 0),   (1, 'bug', 0),   (1, 'bug', 0),
         (1, 'bug', 0),   (1, 'bug', 0),   (1, 'bug', 0),   (1, 'bug', 0),
         (1, 'bug', 0),   (1, 'bug', 0),
       ...
       (7, 'steel', 1), (7, 'water', 0), (7, 'water', 0), (7, 'water', 0),
       (7, 'water', 0), (7, 'water', 0), (7, 'water', 0), (7, 'water', 0),
       (7, 'water', 0), (7, 'water', 1)],
      dtype='object', length=801)

In [138]:
dfm.index = dfm.index.to_flat_index()

In [139]:
dfm

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,hp,japanese_name,name,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type2,weight_kg
"(1, bug, 0)","['Shield Dust', 'Run Away']",1.0,1.0,1.0,1.0,1.0,0.50,2.0,2.0,1.0,...,45,Caterpieキャタピー,Caterpie,50.0,10,20,20,45,NaN,2.9
"(1, bug, 0)",['Shed Skin'],1.0,1.0,1.0,1.0,1.0,0.50,2.0,2.0,1.0,...,50,Transelトランセル,Metapod,50.0,11,25,25,30,NaN,9.9
"(1, bug, 0)","['Compoundeyes', 'Tinted Lens']",0.5,1.0,1.0,2.0,1.0,0.25,2.0,2.0,1.0,...,60,Butterfreeバタフリー,Butterfree,50.0,12,90,80,70,flying,32.0
"(1, bug, 0)","['Shield Dust', 'Run Away']",0.5,1.0,1.0,1.0,0.5,0.25,2.0,2.0,1.0,...,40,Beedleビードル,Weedle,50.0,13,20,20,50,poison,3.2
"(1, bug, 0)",['Shed Skin'],0.5,1.0,1.0,1.0,0.5,0.25,2.0,2.0,1.0,...,45,Cocoonコクーン,Kakuna,50.0,14,25,25,35,poison,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(7, water, 0)","['Water Bubble', 'Water Absorb']",1.0,1.0,1.0,2.0,1.0,0.50,1.0,2.0,1.0,...,38,Shizukumoシズクモ,Dewpider,50.0,751,40,72,27,bug,4.0
"(7, water, 0)","['Water Bubble', 'Water Absorb']",1.0,1.0,1.0,2.0,1.0,0.50,1.0,2.0,1.0,...,68,Onishizukumoオニシズクモ,Araquanid,50.0,752,50,132,42,bug,82.0
"(7, water, 0)","['Innards Out', 'Unaware']",1.0,1.0,1.0,2.0,1.0,1.00,0.5,1.0,1.0,...,55,Namakobushiナマコブシ,Pyukumuku,50.0,771,30,130,5,NaN,1.2
"(7, water, 0)","['Dazzling', 'Strong Jaw', 'Wonder Skin ']",2.0,2.0,1.0,2.0,1.0,0.50,0.5,1.0,2.0,...,68,Hagigishiriハギギシリ,Bruxish,50.0,779,70,70,92,psychic,19.0
"(7, water, 1)","['Misty Surge', 'Telepathy']",0.5,0.5,0.0,2.0,1.0,0.50,0.5,1.0,1.0,...,70,Kapu-rehireカプ・レヒレ,Tapu Fini,NaN,788,95,130,85,fairy,21.2

## Flatten de columnas

In [144]:
df = pd.read_csv('./Sets/pokemon.csv')

In [147]:
dfm = df.groupby(['generation','type1']).mean()

In [151]:
dfm = dfm.unstack()

In [152]:
dfm

           against_bug                                                \
type1              bug      dark    dragon  electric fairy  fighting
generation
1             0.875000       NaN  0.833333  0.833333  0.50  0.500000
2             0.600000  1.400000       NaN  1.000000  0.45  0.500000
3             0.791667  1.750000  1.071429  1.000000   NaN  0.750000
4             0.875000  1.666667  1.000000  0.857143  0.25  0.375000
5             0.944444  1.538462  0.928571  0.857143   NaN  0.500000
6             0.833333  3.000000  1.000000  0.833333  0.50  0.583333
7             0.777778  2.000000  0.666667  0.666667  0.50  0.500000

                                               ... is_legendary            \
type1           fire flying   ghost     grass  ...        ghost     grass
generation                                     ...
1           0.458333    NaN  0.2500  1.583333  ...     0.000000  0.000000
2           0.468750    NaN  0.5000  1.666667  ...     0.000000  0.000000
3           0.416667    NaN  0.5000  2.250000  ...     0.000000  0.000000
4           0.350000    NaN  0.5000  1.846154  ...     0.166667  0.076923
5           0.437500    0.5  0.3500  1.533333  ...     0.000000  0.066667
6           0.500000    0.5  1.0000  1.800000  ...     0.000000  0.000000
7           0.550000    NaN  0.5625  1.416667  ...     0.000000  0.166667

                                                                               \
type1         ground       ice    normal poison   psychic      rock     steel
generation
1           0.000000  0.500000  0.000000    0.0  0.250000  0.000000       NaN
2           0.000000  0.000000  0.000000    0.0  0.285714  0.000000  0.000000
3           0.166667  0.166667  0.000000    0.0  0.125000  0.125000  0.222222
4           0.000000  0.000000  0.117647    0.0  0.571429  0.000000  0.333333
5           0.111111  0.000000  0.058824    0.0  0.071429  0.166667  0.250000
6                NaN  0.000000  0.000000    0.0  0.333333  0.125000  0.000000
7           0.000000       NaN  0.000000    0.0  1.000000  0.250000  1.000000


type1          water
generation
1           0.000000
2           0.055556
3           0.041667
4           0.153846
5           0.058824
6           0.000000
7           0.111111

[7 rows x 594 columns]

In [154]:
dfm.columns = dfm.columns.to_flat_index()

In [155]:
dfm

,"(against_bug, bug)","(against_bug, dark)","(against_bug, dragon)","(against_bug, electric)","(against_bug, fairy)","(against_bug, fighting)","(against_bug, fire)","(against_bug, flying)","(against_bug, ghost)","(against_bug, grass)",...,"(is_legendary, ghost)","(is_legendary, grass)","(is_legendary, ground)","(is_legendary, ice)","(is_legendary, normal)","(is_legendary, poison)","(is_legendary, psychic)","(is_legendary, rock)","(is_legendary, steel)","(is_legendary, water)"
generation,,,,,,,,,,,,,,,,,,,,,
1,0.875000,NaN,0.833333,0.833333,0.50,0.500000,0.458333,NaN,0.2500,1.583333,...,0.000000,0.000000,0.000000,0.500000,0.000000,0.0,0.250000,0.000000,NaN,0.000000
2,0.600000,1.400000,NaN,1.000000,0.45,0.500000,0.468750,NaN,0.5000,1.666667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.285714,0.000000,0.000000,0.055556
3,0.791667,1.750000,1.071429,1.000000,NaN,0.750000,0.416667,NaN,0.5000,2.250000,...,0.000000,0.000000,0.166667,0.166667,0.000000,0.0,0.125000,0.125000,0.222222,0.041667
4,0.875000,1.666667,1.000000,0.857143,0.25,0.375000,0.350000,NaN,0.5000,1.846154,...,0.166667,0.076923,0.000000,0.000000,0.117647,0.0,0.571429,0.000000,0.333333,0.153846
5,0.944444,1.538462,0.928571,0.857143,NaN,0.500000,0.437500,0.5,0.3500,1.533333,...,0.000000,0.066667,0.111111,0.000000,0.058824,0.0,0.071429,0.166667,0.250000,0.058824
6,0.833333,3.000000,1.000000,0.833333,0.50,0.583333,0.500000,0.5,1.0000,1.800000,...,0.000000,0.000000,NaN,0.000000,0.000000,0.0,0.333333,0.125000,0.000000,0.000000
7,0.777778,2.000000,0.666667,0.666667,0.50,0.500000,0.550000,NaN,0.5625,1.416667,...,0.000000,0.166667,0.000000,NaN,0.000000,0.0,1.000000,0.250000,1.000000,0.111111

### O si se desea usar un sufijo

In [156]:
df = pd.read_csv('./Sets/pokemon.csv')
dfm = df.groupby(['generation','type1']).mean()
dfm = dfm.unstack()

In [160]:
dfm.columns = dfm.columns.map('_'.join)

In [162]:
dfm

,against_bug_bug,against_bug_dark,against_bug_dragon,against_bug_electric,against_bug_fairy,against_bug_fighting,against_bug_fire,against_bug_flying,against_bug_ghost,against_bug_grass,...,is_legendary_ghost,is_legendary_grass,is_legendary_ground,is_legendary_ice,is_legendary_normal,is_legendary_poison,is_legendary_psychic,is_legendary_rock,is_legendary_steel,is_legendary_water
generation,,,,,,,,,,,,,,,,,,,,,
1,0.875000,NaN,0.833333,0.833333,0.50,0.500000,0.458333,NaN,0.2500,1.583333,...,0.000000,0.000000,0.000000,0.500000,0.000000,0.0,0.250000,0.000000,NaN,0.000000
2,0.600000,1.400000,NaN,1.000000,0.45,0.500000,0.468750,NaN,0.5000,1.666667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.285714,0.000000,0.000000,0.055556
3,0.791667,1.750000,1.071429,1.000000,NaN,0.750000,0.416667,NaN,0.5000,2.250000,...,0.000000,0.000000,0.166667,0.166667,0.000000,0.0,0.125000,0.125000,0.222222,0.041667
4,0.875000,1.666667,1.000000,0.857143,0.25,0.375000,0.350000,NaN,0.5000,1.846154,...,0.166667,0.076923,0.000000,0.000000,0.117647,0.0,0.571429,0.000000,0.333333,0.153846
5,0.944444,1.538462,0.928571,0.857143,NaN,0.500000,0.437500,0.5,0.3500,1.533333,...,0.000000,0.066667,0.111111,0.000000,0.058824,0.0,0.071429,0.166667,0.250000,0.058824
6,0.833333,3.000000,1.000000,0.833333,0.50,0.583333,0.500000,0.5,1.0000,1.800000,...,0.000000,0.000000,NaN,0.000000,0.000000,0.0,0.333333,0.125000,0.000000,0.000000
7,0.777778,2.000000,0.666667,0.666667,0.50,0.500000,0.550000,NaN,0.5625,1.416667,...,0.000000,0.166667,0.000000,NaN,0.000000,0.0,1.000000,0.250000,1.000000,0.111111